:root {
    --send_message_area_height: 60px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    height: 97vh;
    padding: 0 5px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    min-width: 60px;
    padding: 15px 5px;
    display: flex;
    flex-direction: column;
    margin: 0 5px;
}

.menu-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin: 10px 0;
    position: relative;
}

#mainAccountAvatar {
    width: 50px;
    border-radius: 50%;
}

#logOutBox {
    width: 200px;
    background-color: aqua;
    height: fit-content;
    position: absolute;
    right: -210px;
    display: block;
    padding: 10px 15px;
    border-radius: 15px;
    display: none;
}

.logOutBox-button {
    display: flex;
    width: 100%;
    height:fit-content;
    border: 1px solid black;
    padding: 5px 20px;
}

.logOutBox-button p {
    margin: auto;
}
.menu-bar-button {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 10px;
    overflow: hidden;
    cursor: pointer;
}

.menu-bar-button i {
    font-size: 25px;
    margin: 10px 0;
    color: #333;
    padding: 10px;
    margin-right: 10px;
}

.menu-bar-button-choosen i {
    border-radius: 40%;
    color: black;
    background-color: #e6e6e6;
}

#changeSizeButton {
    overflow-x: hidden;
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
}


/*CSS FOR chat CONTAINER*/

.chat-container {
    width: 370px;
    min-width: 200px;
    background-color: #ffffff;
    height: 100%;
    border-radius: 25px;
    padding:20px 15px;
    margin: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    position: relative;
}

.chat-container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.chat-container-header-newchat {
    border-radius: 100%;
    background-color: #f5f5f5;
    padding: 8px;
    text-align: center;
    cursor: pointer;
}

.chat-container-header-newchat i {
    font-size: 24px;
}

.chat-container-header-newchat:hover {
    background-color: #f0f0f0;
}

.chat-container-body-search {
    width: 90%;
    margin: 0 10px 15px 10px;
    border: none;
    background-color: #f5f5f5;
    height: 40px;
    border-radius: 50px;
    padding: 0 15px;
    outline: none;
}

.chat-container-body-search i {
    color: #888888;
}

.chat-container-body-finding {
    background-color: #f5f5f5;
    height: 100%;
    width: calc(100% - 30px);
    border: none;
    outline: none;
    margin-left: 5px;
}

.chat-container-body-finding:focus {
    border: none;
}

.chat-box-area {
    width: 100%;
    height: 520px;
    overflow-y: scroll;
}

.chat-box-area-box {
    height: 70px;
    width: 100%;
    display: flex;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px;
}

.chat-box-area-box:hover {
    background-color: #f3f3f3;
}

.chat-box-choosen {
    background-color: #f0f0f0;
}

.chat-box-avatar {
    height: 100%;
    border-radius: 100%;
}

.chat-box-contain {
    margin: auto 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message-container {
    width: 740px;
    min-width: 400px;
    background-color: aquamarine;
    height: 100%;
    margin: 10px auto;
    border-radius: 20px;
    padding: 5px 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

.message-container-header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.chat-info {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 6px 2px;
    border-radius: 5px;
}

.chat-info:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.chat-info-avatar {
    height: 100%;
    border-radius: 50%;
    margin-right: 8px;
}

.options {
    display: flex;
    align-items: center;
}

.options-button {
    display: flex;
    width: 45px;
    height: 45px;
    font-size: 22px;
    margin: 0 5px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;

}

.options-button:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.message-container-body {
    height: calc(100% - 60px);
    width: 100%;
    display: block;
}

.message-container-body-message-area {
    height: calc(100% - var(--send_message_area_height));
    display: flex;
    flex-direction: column;
    padding: 20px 15px 5px;
    overflow-y: scroll;
}


.message-content {
    width: fit-content;
    max-width: calc((100% - 30px) / 2 - 5px);
    height:fit-content;
    padding: 10px 20px;
    margin: 0 0 10px;
    background-color: #205781;
    border-radius: 12px;
    color: white;
}

.sender {
    align-self: flex-end;
}

.systemMessage  {
    max-width: fit-content !important;
    align-self: center !important;
    background-color: #f3f3f3 !important;
    color: #000 !important;
}


.messageImage, .messageVideo {
    padding: 0;
    background-color:rgba(0, 0, 0, 0);
}

.messageImage img, .messageVideo video {
    width: 100%;
    border-radius: 12px;
    margin: 0;
    cursor: pointer;
}

.messageFile {
    display: flex;
    background-color: #eedeed;
    color: black;
    cursor: pointer;
    max-width: none;
}

.messageFile i {
    font-size: 20px;
    padding: 8px;
    margin-right: 5px;
    border-radius: 100%;
    background-color: #a7a7a7;
}

.message-container-body-sending-area {
    height: var(--send_message_area_height);
    width: 100%;
    display:flex;
    position: relative;
}


#messageForm {
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.form-file label {
    width: 30px;
}


#attachment {
    display: none;
}

.attachment-icon, .submit-icon {
    font-size: 30px;
    color: #205781;
}

.form-text {
    width: 500px;
    border-radius: 50px;
    align-items: center;
    display: flex;
    height: 40px;
    background-color: #fff;
}

#message-input {
    width: 450px;
    min-width: 250px;
    height: 100%;
    outline: none;
    border: none;
    margin: 0 auto;
}

#messageForm button {
    border: none;
    background: none;
}


#previewFile {
    width: 100%;
    height: fit-content;
    max-height: 60px;
    background-color: #333;
    position: absolute;
    bottom: 100%;
    padding: 10px 30px;
}